<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload</title>
</head>
<body>
    <h1>Video Upload</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="file" accept="video/*" required>
        <button type="submit">Upload</button>
    </form>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            fetch('/upload', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Video uploaded successfully!');
                } else {
                    alert('Error uploading video.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Include Plotly JS library -->
</head>
<body>
    <div id="upload-vedio">

        <h1>Video Upload</h1>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" name="file" accept="video/*" required>
            <button type="submit">Upload</button>
        </form>
    </div>

    <div id="chart-container">
        <button id="back">Back</button>
        <h1>Line Chart</h1>
        <!-- Create a canvas element for the chart -->
        <canvas id="lineChart" width="800" height="400"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="{{ url_for('static',filename='js/main.js')}}"></script>
    <script src="{{ url_for('static',filename='js/processModelOutput.js')}}"></script>
    <script src="{{ url_for('static',filename='js/getVedio.js')}}"></script>
</body>
</html>
